.App {
  text-align: center;
  background-image: url(./components/9916513.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background-image: url(./components/9916513.jpg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbar{
  background: black;
  padding: 20px;
}

.navbar2{
  background-color: #ffffff;
}

.navbar3{
  margin-right: 20px;
}

.numCarrito{
  color: red;
  font-size: 20px;
  text-align: end;
}

.incremento{
  background-color: black;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
}

.card1 {
  background-color: aqua;
}